* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}
.header {
    background-color: #333;
    display: inline-block;
    position: fixed;
    padding: 30px;
    justify-items: center; 
    text-align: center;
    font-size: 25px;
    color: white;
    width: 100%;
    height: auto;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
    gap: 30px;
}
#about-section {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #ffffff;
    

}
#about {
    text-align: middle ;
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
}
#about-image {
    width: 200px;
    float: right;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

#about-section::after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
}
a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}
main {
    padding: 20px;
    text-align: center;
    background-image: url('code.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;

}

h1 {
    font-size: 50px;
    color: white;
}
.intro-text {
    font-size: 20px;
    color: white;
}
button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
}
button:hover {
    background-color: #555;
}
h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
}
.about {
    font-size: 18px;
    color: #000;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line {
    border-top: 4px solid #333;
    width: 7%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}
.gallery {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.gallery img {
    width: 100%;
    height: auto;
   
}
.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
}
#work-section {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 30px;
}
table {
    width: 80%;
    margin: 20px ;
    
}
th {
    background-color: #f1eeee;
    color: black;
    padding: 12px;
    text-align: left;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}
#cxontact-section {
    padding: 20px;
    margin-top: 30px;
    background-color: #e4e0e0;
}
.contact-form {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
audio {
    width: 98%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0px 0px 10px 10px;
}
video {
    width: 97%;
    margin-top: 10px;
    margin-left: 20px;
   
}
h4 {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
/* End of  project 1 style.css */


